body {
  margin: 0;
}

/* esto es para que el header no scrollee */
.headerContent{
  width:100%;
  position:fixed;
  top:0;
  height:50px;
  background: lightblue;
}

.divMenu{
  padding-top: 13px;
  /* position: relative; */
  left:70%;
  responsive:

}

/* esto es para que los span del header este horizontal */
.menuHeader{
  display: inline;
  padding: 7px;

}

/* pseudo element before */
/* esto es para que los div que siguen al header no se superpongan
cuando haces click */
.divMain::before {
content: "";
display: block;
padding-top: 38px;
margin-top: -50px; /* header height to degrees padding’s space */
}

#divInicio{
  margin-top:56px;
}
